{% load static %}
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{% static "bootstrap-3.3.7-dist/css/bootstrap.min.css" %}">
    <link rel="stylesheet" href="{% static "bootstrap-social.css" %}">
    <link rel="stylesheet" href="{% static "font-awesome-4.7.0/css/font-awesome.min.css" %}">
    <link rel="icon" type="image/png" href="{% static "CTSb.png" %}" sizes="32x32"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
    <script src="{% static "bootstrap-3.3.7-dist/js/bootstrap.min.js" %}"></script>
    {{ forms.media.css }}
    <script>
        (function (i, s, o, g, r, a, m) {
            i['GoogleAnalyticsObject'] = r;
            i[r] = i[r] || function () {
                    (i[r].q = i[r].q || []).push(arguments)
                }, i[r].l = 1 * new Date();
            a = s.createElement(o),
                m = s.getElementsByTagName(o)[0];
            a.async = 1;
            a.src = g;
            m.parentNode.insertBefore(a, m)
        })(window, document, 'script', '//www.google-analytics.com/analytics.js', 'ga');

        ga('create', 'UA-13134830-4', 'auto');
        ga('send', 'pageview');
    </script>
    <script>
        $(document).ready(function () {
            $('[data-toggle="tooltip"]').tooltip({
                html: true,
                title: '<p align="left">Type in game, platform or even nickname!</p><p align="left"> E.g. PC, Dead Space 3 or MightyGamer2016</p>'
            });
        });
    </script>


    {% load selectable_tags %}
    {% include_jquery_libs '1.11.2' '1.11.3' %}
    {% include_ui_theme %}

    {{ forms.media.js }}

    <script>
        $.ui.djselectable.prototype._comboButtonTemplate = function (input) {
            var icon = $("<i>").addClass("icon-chevron-down");
            // Remove current classes on the text input
            $(input).attr("class", "");
            // Wrap with input-append
            $(input).wrap('<div class="input-append" />');
            // Return button link with the chosen icon
            return $("<a>").append(icon).addClass("btn btn-small");
        };
        $.ui.djselectable.prototype._removeButtonTemplate = function (item) {
            var icon = $("<i>").addClass("icon-remove-sign");
            // Return button link with the chosen icon
            return $("<a>").append(icon).addClass("btn btn-small pull-right");
        };
    </script>
    <script type="text/javascript">
        $(document).ready(function () {
            function newParameters(query) {
                query.platform = $('#id_platform').val();
            }

            $('#id_game_0').djselectable('option', 'prepareQuery', newParameters);
        });
    </script>
    <script>
        function toggler(elementId) {
            $("#" + elementId).toggle();
        }
    </script>

    <title>Go Play Coop — {% block headtitle %} {% endblock %}
    </title>
</head>

<body>
<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

            <a class="navbar-brand" href="{% url 'cts_app:index' %}">Home</a>
        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li>
                    <a href="{% url 'cts_app:create' %}"><span class="glyphicon glyphicon-plus"></span>Create
                        request</a>
                </li>

                <li><a href="{% url 'cts_app:search' %}"><span class="glyphicon glyphicon-search"></span>Search</a>
                </li>
                {% if user.is_authenticated %}
                    <li class="pull-right">
                        <a href="/accounts/logout">
                            <span class="glyphicon glyphicon-log-out"></span> Log out
                        </a>
                    </li>
                {% else %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">
                            <span class="glyphicon glyphicon-log-in"></span> Log-in<span
                                class="caret"></span></a>
                        <ul class="dropdown-menu" role="menu">
                            <li><a id="site_login" href="/accounts/login/?next={{ request.path }}"><span
                                    class="glyphicon glyphicon-log-in"></span>
                                Sign in</a></li>
                            <li><a id="site_login" href="/accounts/signup/?next={{ request.path }}"><span
                                    class="glyphicon glyphicon-sunglasses"></span> Sign up</a></li>

                            <li><a id="facebook_login" href="/accounts/facebook/login">Sign in with Facebook</a></li>
                            <li><a id="twitter_login" href="/accounts/twitter/login">Sign in with Twitter</a>
                            <li><a id="vk_login" href="/accounts/vk/login">Sign in with VK</a></li>
                        </ul>
                    </li>
                {% endif %}
            </ul>
            <form action={% url 'cts_app:search' %} class="navbar-form navbar-right
            " method="get">{% csrf_token %}
            <div class="form-group">
                <input type="text" class="form-control input-sm" placeholder="Quick search" name="query">
                <input type="hidden" name="type" value="quicksearch">
            </div>
            <button type="submit" class="btn btn-sm btn-default" data-toggle="tooltip"
                    data-placement="bottom">Search
            </button>
            </form>
        </div>
    </div>
</nav>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-12">
            {% if messages %}
                <div class="row">
                    <div class="col-sm-3">
                    </div>
                    {% for message in messages %}
                        <div class="alert alert-dismissible alert-{{ message.level_tag }} col-sm-6">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            {{ message }}
                        </div>
                    {% endfor %}
                    <div class="col-sm-3">
                    </div>
                </div>
            {% endif %}
        </div>
    </div>
    <div class="row">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
            {% block content %}
            {% endblock %}
        </div>
        <div class="col-sm-1">
        </div>
    </div>
</div>
</div>

</div>

<div class="row">
    <footer class="footer">
        <div class="col-sm-1">
        </div>
        <div class="col-sm-10">
            <small>
                All product names, logos, and brands are property of their respective owners. All company,
                product
                and service names used in this website are for identification purposes only. Use of these names,
                logos, and brands does not imply endorsement.
                <p>Special thanks to <a href="http://glyphicons.com/" target="_blank">Glyphicons</a> and <a
                        href="http://bootswatch.com/" target="_blank">Bootswatch</a>.

                <p>You can find me here: <a href="https://twitter.com/ibljad" target="_blank">@iBljad</a>
            </small>
        </div>
        <div class="col-sm-1">
        </div>
    </footer>
</div>
</body>
</html>

