{% extends 'cts_app/base.html' %}
{% block headtitle %}Feedback form{% endblock %}
{% block title %}Feedback form{% endblock %}

{% block content %}
    <div class="row">
        <div class="controls col-centered col-sm-6" align="right">
        </div>
    </div>
    <div class="row row-centered">

        <form action={% url 'cts_app:contact' %} method="post" class="form-horizontal" role="form">{% csrf_token %}
            {#%cts_app:apply %#}


            {% include "cts_app/form_snippet.html" %}

            <div class="form-group">
                <div class="col-sm-1 col-centered"></div>
                <div class="col-sm-4 col-centered" align="right">
                    <input type="submit" class="btn btn-primary" value="Send">
                </div>
            </div>
        </form>
    </div>
{% endblock content %}
