{% extends 'cts_app/base.html' %}
{% block headtitle %}Main page{% endblock %}
{% block title %}Main page{% endblock %}
{% block content %}
    {% load humanize %}


    <div class="page-header">
        <h3>Find your co-op teammate here</h3>
    </div>


    <form action={% url 'cts_app:search' %}?search= method="get" class="form-inline" role="form">{% csrf_token %}
        <input type="hidden" name="type" value="search">

        {{ forms.non_field_errors }}

        {{ forms.platform.errors }}
        {{ forms.platform }}
        {{ forms.game.errors }}
        {{ forms.game }}
        <button type="submit" class="btn btn-primary"><span class="glyphicon glyphicon-search"></span>SEARCH</button>
        <a href="{% url 'cts_app:create' %}" class="btn btn-info"><span class="glyphicon glyphicon-plus"></span>POST
            REQUEST</a>
        <div id="advanced" class="collapse">
            {{ forms.nickname.errors }}
            {{ forms.nickname }}
        </div>
        <br>
        <a href="#advanced" data-toggle="collapse" onclick="toggler('btn_id');" id="btn_id">Advanced settings</a></br>


    </form>

    <table class="table table-condensed table-hover table-responsive">
        <tbody>
        {% for req in result %}
            <tr>
                <td class="col-sm-2">{{ req.game }} ({{ req.platform }})

                <td class="col-sm-5" style="word-break:break-all;">
                    <span class="glyphicon glyphicon-user"></span>
                    {{ req.nickname }}{% if req.comment %}:{% endif %} {{ req.comment }}</td>
                <td class="col-sm-3 text-right">{{ req.pub_date|naturaltime }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{% url 'cts_app:search' %}?type=search&platform=&game_0=Dead+by+Daylight&game_1=&nickname=">
        Search for Dead by daylight co-op teammates
    </a>
    <br>
    <a href="{% url 'cts_app:search' %}?type=search&platform=&game_0=Dying+light&game_1=&nickname=">
        Find team member for Dying light cooperative mode
    </a>

{% endblock content %}
