{% extends 'cts_app/base.html' %}
{% block headtitle %}Main page{% endblock %}
{% block title %}Main page{% endblock %}
{% block content %}



<p>Приветствую вас на сайте <b>Go Play Coop!</b></p>

<p>Он создан для поиска напарников в кооперативных видеоиграх
(почти как Тиндер, но для геймеров :)</p>

<p>Принцип сервиса довольно прост — это база заявок от игроков,
которые хотели бы найти компаньона для кооперативного прохождения игр.
<br>
По этой базе можно осуществить поиск (как <a href="{% url 'cts_app:index' %}">расширенный</a>, так и
быстрый — в левом верхнем углу), либо самому <a href="#" data-toggle="modal" data-target="#createModal">оставить заявку</a> (для этого нужна
<a href="{% url 'cts_app:login' %}?action=login&next={{ request.get_full_path|urlencode }}">регистрация</a>, но это быстро, процесс довольно упрощенный). Чтобы оставить
заявку, нужно указать платформу и игру, для который вы ищете напарников, и, по
желанию комментарий (предпочитаемое время игры, ваш игровой ник итд.)
<br>
Если вы больше не ищете компаньонов, то вы можете удалить
свою заявку, и ее больше никто не увидит.</p>



<p>У каждого пользователя в профиле есть рейтинг (от 1 до 5),
на который могут влиять другие зарегистрированные пользователи и оставлять к
нему комментарий (как восторженные отзывы, так и наоборот, например, что игрок
— злостный кидала :D). Попасть в профиль пользователя
можно через поиск, нажав в результатах на его имя.</p>



<p>Также у сайта есть разные сопутствующие плюшки: топ-10 самых
популярных игр/платформ/игроков, <a href="{% url 'cts_app:contact' %}">форма обратной связи</a>, предпочитаемые игры/платформы в профиле игроков и даже более-менее выглядящее
мобильное меню (попробуйте изменить размер до минимального).</p>



<p>Буду рад, если вы <a href="{% url 'cts_app:contact' %}">оставите свой отзыв</a> о работе сайта или
даже (что вообще невообразимо), <a href="{% url 'cts_app:login' %}?action=login&next={{ request.get_full_path|urlencode }}">зарегистрируетесь</a> на нем! Спасибо!</p>

<p>PS: чтобы посмотреть, как выглядит список заявок, просто нажмите <b>Search</b> рядом с пустым полем быстрого поиска или перейдите по <a href="{% url 'cts_app:search' %}?query=&type=quicksearch">этой ссылке</p>

{% endblock content %}
