{% extends 'cts_app/base.html' %}
{% block head_title %}Search for request{% endblock %}
{% block title %}Search for request{% endblock %}

{% block content %}
    <div class="row">
        <div class="controls col-centered col-sm-6" align="right">
        </div>
    </div>
    <div class="row row-centered">

        <form action={% url 'cts_app:search' %}?search= method="get" class="form-horizontal" role="form">

            {% include "cts_app/form_snippet.html" %}
            <input type="hidden" name="type" value="search">

            <div class="form-group">
                <div class="col-sm-1 col-centered"></div>
                <div class="col-sm-4 col-centered" align="right">
                    <input type="submit" class="btn btn-primary" value="Search">
                </div>
            </div>
        </form>
    </div>
    <script language="JavaScript">var nameValue = document.getElementById("nickname").value</script>
{% endblock content %}
