{% extends 'cts_app/base.html' %}
{% block headtitle %}Search for request{% endblock %}
{% block title %}Search for request{% endblock %}

{% block content %}
    <form action={% url 'cts_app:search' %}?search= method="get" class="form-horizontal"
          role="form">{% csrf_token %}

        {% include "cts_app/form_snippet.html" %}
        <input type="hidden" name="type" value="search">

        <div class="form-group">
            <input type="submit" class="btn btn-primary" value="Search">
        </div>
    </form>
    <script language="JavaScript">var nameValue = document.getElementById("nickname").value</script>
{% endblock content %}
